.portfolio {
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
}
.responsive-picture {
  margin: 0%;
  padding: 0%;
  max-width: 20%;
  width: auto;
  height: auto;
}
.part {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2px;
}
.image {
  align-self: center;
  flex: 0.33%;
}
.description {
  flex: 100%;
  max-width: 60%;
}
