.portfolio {
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
}
.responsive-picture {
  margin: 0%;
  padding: 0%;
  max-width: 20%;
  width: auto;
  height: auto;
}
.left {
  float: left;
}
.right {
  clear: both;
}
.part {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.image {
  max-height: 800px;
}
.content {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.description1 {
  flex: 1;
}
.description2 {
  text-align: center;
}
