body 
{
  margin: 0 !important;
  background-color: #444949;
  color: #efefef;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
  display: flex;
  flex-wrap: wrap;
}


.left-side
{
  display: 1;
  float: left;
  width: 16%;
  background-color: aqua;
}

.content
{
  display: 1;
  float: left;
  width: 68%;
}

.portfolio{
  float: left;
}


.responsive-picture{
  width: auto;
  height: auto;
}

.right-side
{
  display: 1;
  float: left;
  width: 16%;
  background-color: firebrick;
  
}

.footer
{
  clear: both;
  text-align: center;
  width: 100%;
}

.footer-icons{
  color: whitesmoke;
}
/*----------------------------------------------------------------
/*** Spinner Start ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .8s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity .8s ease-out, visibility 0s linear .0s;
  visibility: visible;
  opacity: 1;
}

/*** Spinner End ***/
/*----------------------------------------------------------------

/*----------------------------------------------------------------
/*** Navbar Start ***/
.back-to-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: flex;
  width: 58px;
  height: 58px;
  align-items: center;
  justify-content: center;
  z-index: 99;
}


.navbar .navbar-nav {
  padding: 15px 0;
}

.navbar .navbar-nav .nav-link {
  padding: 15px;
  color: var(--bs-white);
  font-weight: 500;
  font-size: 16px;
  outline: none;
  transition: .5s;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: var(--bs-primary);
  transition: .5s;
}

.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  vertical-align: middle;
  margin-left: 8px;
}

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    visibility: hidden;
    top: 100%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
    transition: .5s;
    opacity: 0;
  }
}

.dropdown .dropdown-menu a:hover,
.dropdown .dropdown-menu a.active {
  background: var(--bs-dark);
  color: var(--bs-primary);
}

.navbar .nav-item:hover .dropdown-menu {
  transform: rotateX(0deg);
  visibility: visible;
  transition: .5s;
  opacity: 1;
}

.navbar-toggler {
  background: var(--bs-secondary);
  color: var(--bs-light) !important;
  padding: 5px 12px;
  border: 2px solid var(--bs-primary) !important;
}

/*** Navbar End ***/
/*----------------------------------------------------------------

/*----------------------------------------------------------------
/*** Clock ***/
#clockContainer {
  position: relative;
  margin: right;
  height: 10vw;
  /*to make the height and width responsive*/
  width: 10vw;
  background: url(pictures/clock.png) no-repeat;
  /*setting our background image*/
  background-size: 100%;
}

#hour,
#minute,
#second {
  position: absolute;
  background: black;
  border-radius: 10px;
  transform-origin: bottom;
}

#hour {
  width: 1.8%;
  height: 25%;
  top: 25%;
  left: 48.85%;
  opacity: 0.8;
}

#minute {
  width: 1.6%;
  height: 30%;
  top: 19%;
  left: 48.9%;
  opacity: 0.8;
}

#second {
  width: 1%;
  height: 40%;
  top: 9%;
  left: 49.25%;
  opacity: 0.8;
}
/*** End of clock ***/
/*----------------------------------------------------------------