body {
  margin: 0 !important;
  background-color: #444949;
  color: #efefef;
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
  display: flex;
  flex-wrap: wrap;
}

.content {
  display: 1;
  float: left;
  width: 64%;
  margin: 2%;
}

.portfolio {
  float: left;
}

.responsive-picture {
  width: auto;
  height: auto;
}

.footer-icons {
  color: whitesmoke;
}

.link {
  color: aliceblue;
  text-decoration: none;
}

.icon {
  max-width: 6%;
  max-height: 6%;
}

.form-meeting {
}
