body {
  margin: 0 !important;
  background-color: #444949;
  color: #efefef;
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
  display: flex;
  flex-wrap: wrap;
}

.left-side {
  display: 1;
  float: left;
  width: 16%;
  background-color: #121237;
}

.content {
  display: 1;
  float: left;
  width: 64%;
  margin: 2%;
}

.portfolio {
  float: left;
}

.responsive-picture {
  width: auto;
  height: auto;
}

.right-side {
  display: 1;
  width: 16%;
  background-color: firebrick;
  background-color: #121237;
  align-items: center;
}

.footer {
  clear: both;
  text-align: center;
  width: 100%;
}

.footer-icons {
  color: whitesmoke;
}

.link {
  color: aliceblue;
  text-decoration: none;
}

/*----------------------------------------------------------------
/*** Spinner Start ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.8s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/*** Spinner End ***/
/*----------------------------------------------------------------

/*----------------------------------------------------------------
/*** Navbar Start ***/
.back-to-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: flex;
  width: 58px;
  height: 58px;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.navbar .navbar-nav {
  padding: 15px 0;
}

.navbar .navbar-nav .nav-link {
  padding: 15px;
  color: var(--bs-white);
  font-weight: 500;
  font-size: 16px;
  outline: none;
  transition: 0.5s;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: var(--bs-primary);
  transition: 0.5s;
}

.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  vertical-align: middle;
  margin-left: 8px;
}

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    visibility: hidden;
    top: 100%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
    transition: 0.5s;
    opacity: 0;
  }
}

.dropdown .dropdown-menu a:hover,
.dropdown .dropdown-menu a.active {
  background: var(--bs-dark);
  color: var(--bs-primary);
}

.navbar .nav-item:hover .dropdown-menu {
  transform: rotateX(0deg);
  visibility: visible;
  transition: 0.5s;
  opacity: 1;
}

.navbar-toggler {
  background: var(--bs-secondary);
  color: var(--bs-light) !important;
  padding: 5px 12px;
  border: 2px solid var(--bs-primary) !important;
}

/*** Navbar End ***/
/*----------------------------------------------------------------

/*----------------------------------------------------------------
/*** Clock ***/
.clock {
  font-family: Arial, Helvetica, sans-serif;
  color: #ecfcfc;
  font-weight: bold;
  font-size: 160%;
  border-style: solid;
  padding: 5px;
  margin: 20%;
  align-items: center;
}
.date {
  font-family: Arial, Helvetica, sans-serif;
  color: #ecfcfc;
  font-weight: bold;
  font-size: 160%;
  border-style: solid;
  padding: 5px;
  margin: 20%;
  align-items: center;
}
/*** End of clock ***/
/* error - registration */
.error {
  color: red;
  margin-top: 10px;
  margin-bottom: 10px;
}
